@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body,
html {
    scroll-behavior: smooth;
    overflow: overlay;
    font-family: "Rubik";
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: #ffffff00;
    margin: 1em 0em;
}

body::-webkit-scrollbar-thumb {
    background-color: #1e0327;
    border-radius: 1em;
    border-right: 0.5em solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

@media only screen and (max-width: 600px) {
    body::-webkit-scrollbar {
        width: 0.5em;
    }

    body::-webkit-scrollbar-track {
        background-color: #ffffff00;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #1e0327;
        border-radius: 1em;
        border-right: 0.25em solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
}

.our-scroll::-webkit-scrollbar {
    width: 1em;
}

.our-scroll::-webkit-scrollbar-track {
    background-color: #ffffff00;
    margin: 1em 0em;
}

.our-scroll::-webkit-scrollbar-thumb {
    background-color: #1e0327;
    border-radius: 1em;
    border-right: 0.5em solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

@media only screen and (max-width: 600px) {
    .our-scroll::-webkit-scrollbar {
        width: 0.5em;
    }

    .our-scroll::-webkit-scrollbar-track {
        background-color: #ffffff00;
    }

    .our-scroll::-webkit-scrollbar-thumb {
        background-color: #1e0327;
        border-radius: 1em;
        border-right: 0.25em solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
    }
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@font-face {
    font-family: "Rubik";
    src: url("../../public/fonts/Rubik/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik-ExtraBold";
    src: url("../../public/fonts/Rubik/Rubik-ExtraBold.ttf");
}

@font-face {
    font-family: "Rubik-Light";
    src: url("../../public/fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../../public/fonts/Rubik/Rubik-Medium.ttf");
}
